<h1>TimeBomb</h1>
<div>
  Game-Id: {{playerSpecificGameDto.gameId}}
</div>
<div>
  <br/>
Your Name : {{playerSpecificGameDto.ownPlayer.name}}
  <br/>
Your Role : {{roleCardsDisplay[playerSpecificGameDto.ownPlayer.roleCard]}}
  <br/>
Possess Nipper   : {{playerSpecificGameDto.ownPlayer.holdsNipper}}
  <br/>
Your Cards:
  <li *ngFor="let card of playerSpecificGameDto.ownPlayer.hiddenPlayCards">
    <span>{{playCardsDisplay[card]}}</span>
  </li>
  <br/>
  <br/>
</div>
<div>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
  <tr>
    <th>Player</th>
    <th>Number of hidden playcards</th>
    <th>Possesses Nipper</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of playerSpecificGameDto.otherPlayers">
    <td>{{ player.name }}</td>
    <td>{{ player.numberOfHiddenPlayCards }}</td>
    <td>{{ player.holdsNipper.toString() }}</td>
    <!--Todo: Nip card of specific player, when hitting this button-->
    <td><button *ngIf="playerSpecificGameDto.ownPlayer.holdsNipper">Nip</button></td>
  </tr>
  </tbody>
</table>
</div>
<!--Todo: Show down here the revealed Cards-->
