<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!gameId"><em>GameId loading...</em></p>
<p *ngIf="!playerSpecificGameDto"><em>GameDto with registered player loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="gameId">
  <thead>
    <tr>
      <th>GameId</th>
      <th>PlayerName</th>
      <th>Is Game started</th>
      <th>Is Game finished</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ gameId }}</td>
      <td>{{ playerSpecificGameDto.OwnPlayer.Name }}</td>
      <td>{{ playerSpecificGameDto.IsStarted }}</td>
      <td>{{ playerSpecificGameDto.IsFinished }}</td>
    </tr>
  </tbody>
</table>
